<% include header %>
<body>
    <div class="container" style="margin-top: 60px;">
        <% include navbar %>
        <div class="jumbotron">
           <div class="row">
              <div class="col-sm-4">
                 <p><%= poll.content %></p>
                 <form action="" method="POST">
                    <div class="form-group">
                       <div class="row">
                          <div class="col-xs-12">
                             <div class="form-group">
                                <label for="votefor">I'd like to vote for...: </label> 
                                <select id="votefor" class="form-control">
                                   <option value="" disabled="disabled" selected="selected" hidden="">Choose an option...: </option>
                                   <% for(var i = 0; i < poll.options.length; i ++) { %>
                                   <option value="<%= poll.options[i].voteContent %>"><%= poll.options[i].voteContent %></option>
                                   <% } %>
                                   <% if(user_name) { %>
                                       <option id="click-option" value="custom-option">I'd like a custom option</option>
                                   <% } %>
                                </select>
                                <% if(user_name) { %>
                                    <div class="form-group" id="my-option" style="display: none;">
                                        <label for="custom-option">Vote with my own option: </label>
                                        <input type="text" name="myoption" id="input" class="form-control" value="">
                                    </div>
                                <% } %>
                             </div>
                          </div>
                          <div class="col-xs-12"> <input class="btn btn-primary" type="submit" value="Submit"> </div>
                       </div>
                    </div>
                 </form>
                 <div class="row">
                    <div class="col-xs-12">
                          <div class="share-buttons">
                             <a class="btn btn-info" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ffcc-voting-arthow4n.herokuapp.com%2Fpolls%2Fy9phrskzJBtiEz4Jz&amp;text=123%20%7C%20fcc-voting" class="btn shareit-twitter-colors tw-share"><i class="fa fa-twitter"></i> Share on Twitter</a>
                          </div>
                    </div>
                 </div>
              </div>
              <div class="col-sm-8">
                 <div id="chartContainer" class="chartContainer row"></div>
                 <div class="row">
                     <button class="btn btn-danger" id="remove-poll">Remove this Poll</button> 
                 </div>
              </div>
           </div>
        </div>
    </div>
    <script>
        var x = document.getElementById("votefor");
        x.addEventListener('change', function(){
            if(x.value=="custom-option") {
               var y = document.getElementById("my-option");
               y.style.display = "block";
            }
        })
    </script>
</body>
